@import 'utilities/variables';

@import './internal.components/menu';
@import './internal.components/card';

// main
* {
   margin: 0;
   padding: 0;
   box-sizing: border-box;
}

body{
   font: 14px/18px $font;
   -webkit-font-smoothing: antialiased;
}

.content{
   padding: 2.5rem 1rem;
}
